<div class="side-by-side-container">
  <div class="container">
    <h1 class="title">{{ title }}</h1>
    <div class="chart-container">
      <p-chart type="bar" [responsive]="true" height="400px" width="1300px" [data]="data" [options]="options"></p-chart>
    </div>
    <p-button label="Forecast Claim Amounts" (onClick)="submit()" [style]="{ 'margin-top.px': 40 }"></p-button>
    <p-button label="Show Informations of Next Month" (onClick)="showDialog()"
      [style]="{ 'margin-top.px': 40, 'margin-left.px':40 }"></p-button>
  </div>
</div>

<p-dialog header="Informations of {{next_month}} {{next_year}}" *ngIf="inputForm" [(visible)]="display" [modal]="true" [style]="{width: '60%'}"
  [closable]="true">
  <div class="form-wrapper">
    <form [formGroup]="inputForm" (ngSubmit)="reset()" class="custom-form">
      <div class="form-grid">
        <div *ngFor="let control of controls" class="form-group">
          <label [for]="control" class="form-label">{{ control }}</label>
          <input type="number" step="any" [id]="control" [formControlName]="control" class="form-input">
        </div>
      </div>
      <div class="justify-content-center align-item-center d-flex">
        <p-button label="Forecast" [style]="{  'height':'35px', 'margin-left':'200px'}"
          (onClick)="predictAndcloseDialog()"></p-button>
        <p-button label="Reset" [style]="{  'height':'35px', 'margin-left':'30px'}" type="submit"></p-button>
      </div>
    </form>
  </div>
</p-dialog>

<div class="correlation-container">
  <br>
  <h1 class="title">Impact of Different Parameters</h1>
  <div style="margin: 50px;">
    <p-chart type="bar" [responsive]="true" height="400px" width="1000px" [data]="correlationData"
      [options]="corOptions"></p-chart>
  </div>
</div>